{% extends "layout.html" %}

{% block title %}
Complete Password | Pomodoro 50
{% endblock %}

{% block main %}
<div class="container w-100 w-md-50 bg-dark border rounded shadow p-3">
	<!-- Heading -->
	<h3>Complete Password</h3>
	<p class="text-secondary text-center mb-3">
		Please complete your password to continue.
	</p>

	<!-- Complete Password Form -->
	<form action="{{ url_for('profile.complete_password') }}" method="post">

		<!-- Password -->
		<div class="mb-3 input-group">
			<span class="input-group-text"><ion-icon name="lock-closed"></ion-icon></span>
			<input autocomplete="off" class="form-control mx-auto w-auto password-toggle" name="password"
				placeholder="Password" type="password" required>
			<button class="btn btn-outline-secondary input-group-text password-eye" type="button"
				onclick="togglePasswordVisibility(this)">
				<ion-icon name="eye-off"></ion-icon>
			</button>
		</div>

		<!-- Password Confirmation -->
		<div class="mb-3 input-group">
			<span class="input-group-text"><ion-icon name="lock-closed"></ion-icon></span>
			<input autocomplete="off" class="form-control mx-auto w-auto password-toggle" name="confirmation"
				placeholder="Password (again)" type="password" required>
			<button class="btn btn-outline-secondary input-group-text password-eye" type="button"
				onclick="togglePasswordVisibility(this)">
				<ion-icon name="eye-off"></ion-icon>
			</button>
		</div>

		<!-- Submit Button -->
		<button class="btn btn-primary" type="submit">Complete</button>
</div>
{% endblock %}
