{% extends "layout.html" %}

{% block title %}
Reset Password | Pomodoro 50
{% endblock %}

{% block main %}
<div class="container w-100 w-md-50 bg-dark border rounded shadow p-3">
	<h3 class="text-light">Reset Password</h3>
	<p class="text-secondary text-center">
		Dont worry! We will send you a link to reset your password via email. Our email may be in your spam folder.
	</p>

	<form action="{{ url_for('profile.reset_password') }}" method="post">

		<!-- For Email -->
		<div class="mb-3 mt-3 input-group">
			<span class="input-group-text"><i class="fa-solid fa-envelope"></i></span>
			<input autocomplete="off" class="form-control mx-auto w-autoauto" name="email" placeholder="Email" type="email"
				autofocus required>
		</div>

		<!-- Reset Password Button -->
		<button class="btn btn-primary mx-auto w-100" type="submit">Send Request <i class="fa-solid fa-check"></i></button>

		<div class="container mt-3">
			<div class="row">
				<div class="col-6">
					<!-- Log In Text -->
					<p class="text-start"><a href="{{ url_for('login.index') }}">Back to Log In</a></p>
				</div>
				<div class="col-6">
				</div>
			</div>
		</div>

	</form>
</div>
{% endblock %}
