# Byte-compiled
__pycache__/
*.pyc
*.py[cod]

# Flask-Session
flask_session/
flask_cache/

# Flask-SQLAlchemy
migrations/
instance/

# Environment
.env
.venv
env/
venv/

# VSCode
.vscode/

# Pytest
.pytest_cache/
