{% extends "layout.html" %}

{% block title %}
Home | Pomodoro 50
{% endblock %}

{% block main %}
<div class="container w-100 w-md-50 bg-dark border rounded shadow p-3">
	<h3 class="text-light">Heard of Pomodoro? 🍅</h3>
	<p class="text-justify text-light indent-1">
		The Pomodoro Technique is a time management method that uses a timer to break down work into <string>sessions
		</string>.
	</p>
</div>
<div class="container w-100 w-md-50 bg-dark border rounded shadow p-3 mt-3">
	<h3>Ever finished a session? 🤯</h3>
	<p class="text-justify text-light indent-1">
		Feel frustrated when you lose track of time? Quitting the timer unintentionally? Not anymore! The Pomodoro App will
		help you stay focused and on track.
	</p>
</div>
<div class="container w-100 w-md-50 bg-dark border rounded shadow p-3 mt-3">
	<h3>How does it work? 🚀</h3>
	<p class="text-justify text-light indent-1">
		When the timer stops, you will be prompted to enter a reason for stopping. This is to help us understand why you
		stopped the timer and give you insights on your productivity.
	</p>
	<p class="text-justify text-light indent-1">
		Just like that, you can track your productivity and improve your focus.
	</p>
	<button class="btn btn-primary btn-lg" onclick="window.location.href='/timer'">
		Get Started
	</button>
</div>
{% endblock %}
