a:not(.nav-link):not(.navbar-brand) {
	text-decoration: none;
	position: relative;
}

a:not(.nav-link):not(.navbar-brand)::after {
	content: '';
	position: absolute;
	width: 0;
	height: 2px;
	background: #8bb9fe;
	left: 0;
	bottom: -2px;
	transition: width 0.25s ease-in-out;
}

a.footer-icon::after {
	background: #edf1f7 !important;
}

a:not(.nav-link):not(.navbar-brand):hover::after {
	width: 100%;
}


#timer {
	font-family: 'Noto Sans Mono', serif;
}

.btn {
	min-width: 80px;
}

.password-eye {
	min-width: auto;
}

.text-justify {
	text-align: justify;
}

.indent-1 {
	text-indent: 1em;
}

#cal-heatmap {
	display: flex;
	justify-content: center;
}

html,
body {
	height: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
}

main {
	flex: 1;
	margin-top: 6rem;
	padding-bottom: 6rem;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 100;
}

/* SM breakpoint */
@media (min-width: 576px) {
	.w-sm-100 {
		width: 100% !important;
	}

	.w-sm-75 {
		width: 75% !important;
	}

	.w-sm-50 {
		width: 50% !important;
	}

	.w-sm-25 {
		width: 25% !important;
	}
}

/* MD breakpoint */
@media (min-width: 768px) {
	.w-md-100 {
		width: 100% !important;
	}

	.display-md-5 {
		font-size: 7rem !important;
		font-weight: semibold !important;
	}

	.w-md-75 {
		width: 75% !important;
	}

	.w-md-50 {
		width: 50% !important;
	}

	.w-md-25 {
		width: 25% !important;
	}
}

/* LG breakpoint */
@media (min-width: 992px) {
	.w-lg-100 {
		width: 100% !important;
	}

	.w-lg-75 {
		width: 75% !important;
	}

	.w-lg-50 {
		width: 50% !important;
	}

	.w-lg-25 {
		width: 25% !important;
	}
}
