{% extends "layout.html" %}

{% block title %}
About | Pomodoro 50
{% endblock %}

{% block main %}
<div class="container w-100 w-md-50 bg-dark border rounded shadow p-3">
	<h3 class="text-light">About</h3>
	<p class="text-light text-justify indent-1">
		Pomodoro 50 is designed to help you manage your time using the Pomodoro Technique. This technique involves breaking
		your work into intervals, separated by short breaks.
	</p>
	<p class="text-light text-justify indent-1">
		This page will help you understand how to use the Pomodoro 50 app, explain the features available.
	</p>
	<p class="text-light text-justify indent-1">
		Love this app? How about <a href="https://buymeacoffee.com/haolamnm" target="_blank">buying me a coffee</a> to
		support the development of this app. Thank you!
	</p>
</div>
<div class="container w-100 w-md-50 bg-dark border rounded shadow p-3 mt-3">
	<h3 class="text-light">How to use?</h3>
	<ul class="nav nav-tabs" role="tablist">

		<!-- About Timer Tab -->
		<li class="nav-item" role="presentation">
			<button class="nav-link active" id="about-timer-tab" data-bs-toggle="tab" data-bs-target="#about-timer-content"
				type="button" role="tab">Timer</button>
		</li>

		<!-- About Insights Tab -->
		<li class="nav-item" role="presentation">
			<button class="nav-link" id="about-insights-tab" data-bs-toggle="tab" data-bs-target="#about-insights-content"
				type="button" role="tab">Insights</button>
		</li>

		<!-- About History Tab -->
		<li class="nav-item" role="presentation">
			<button class="nav-link" id="about-history-tab" data-bs-toggle="tab" data-bs-target="#about-history-content"
				type="button" role="tab">History</button>
		</li>

		<!-- About Settings Tab -->
		<li class="nav-item" role="presentation">
			<button class="nav-link" id="about-settings-tab" data-bs-toggle="tab" data-bs-target="#about-settings-content"
				type="button" role="tab">Settings</button>
		</li>

		<!-- About Profile Tab -->
		<li class="nav-item" role="presentation">
			<button class="nav-link" id="about-profile-tab" data-bs-toggle="tab" data-bs-target="#about-profile-content"
				type="button" role="tab">Profile</button>
		</li>
	</ul>

	<div class="tab-content mt-3">
		<div class="tab-pane fade show active" id="about-timer-content" role="tabpanel">
			<p class="text-light text-justify indent-1">
				This is the main page of the Pomodoro 50 app. Here you can start the timer, pause it, and reset it. Whenever you
				intentionally stop the timer, the app will prompt you to enter a reason for stopping. This is to help us
				understand why you stopped the timer and give you insights on your productivity.
			</p>
		</div>

		<div class="tab-pane fade" id="about-insights-content" role="tabpanel">
			<p class="text-light text-justify indent-1">
				Insights page will show you a summary of your productivity. It will show you the number of Pomodoros you have
				completed, the number of hours you have worked, and the number of hours you have taken breaks. This will help
				you understand how you are spending your time and how you can further improve your productivity.
			</p>
		</div>

		<div class="tab-pane fade" id="about-history-content" role="tabpanel">
			<p class="text-light text-justify indent-1">
				The History page will show you a list of all the Pomodoros you have completed. It will show you the date and
				time you started the Pomodoro, the duration of the Pomodoro, and the reason you stopped the Pomodoro. This will
				help you understand how you are spending your time and how you can improve your productivity.
			</p>
		</div>

		<div class="tab-pane fade" id="about-settings-content" role="tabpanel">
			<p class="text-light text-justify indent-1">
				The Settings page will allow you to customize the app to your liking. You can change the duration of the
				Pomodoro, the duration of the short break, and the duration of the long break. You can also change the theme of
				the app to light or dark mode.
			</p>
		</div>

		<div class="tab-pane fade" id="about-profile-content" rol="tabpanel">
			<p class="text-light text-justify indent-1">
				The Profile page will allow you to update your email, and password. You can also delete your account
				if you no longer wish to use the app. This page will help you manage your account and keep your information up
				to date. Also, you can see your login streak here.
			</p>
		</div>
	</div>
</div>
<div class="container w-100 w-md-50 bg-dark border rounded shadow p-3 mt-3">
	<h3 class="text-light">Bug report!</h3>
	<p class="text-light text-justify indent-1">
		Found a bug or have a feature request? Please report it on the <a
			href="https://github.com/haolamnm/pomodoro-50/issues" target="_blank">GitHub</a> page. Thank you for your
		feedback!
	</p>
</div>
{% endblock %}
