{% extends "layout.html" %}

{% block title %}
Log In
{% endblock %}

{% block main %}
<div class="container w-100 w-md-50 bg-dark border rounded shadow p-3">
	<h3 class="text-light">Welcome back!</h3>
	<ul class="nav nav-tabs" role="tablists">
		<li class="nav-item" role="presentation">
			<button class="nav-link active" id="username-tab-login" data-bs-toggle="tab"
				data-bs-target="#username-form-login" type="button" role="tab">Username</button>
		</li>
		<li class="nav-item" role="presentation">
			<button class="nav-link" id="email-tab-login" data-bs-toggle="tab" data-bs-target="#email-form-login"
				type="button" role="tab">Email</button>
		</li>
	</ul>

	<!-- Log In by Username Form -->
	<div class="tab-content mt-3">
		<div class="tab-pane fade show active" id="username-form-login" role="tabpanel">
			<form action="/login" method="post">
				<input type="hidden" name="login_type" value="username_login">

				<!-- For Username -->
				<div class="mb-3 mt-3 input-group">
					<span class="input-group-text"><ion-icon name="person-circle-outline"></ion-icon></span>
					<input autocomplete="off" class="form-control mx-auto w-auto" name="username" placeholder="Username"
						type="text" autofocus required>
				</div>

				<!-- For Password -->
				<div class="mb-3 input-group">
					<span class="input-group-text"><ion-icon name="lock-closed"></ion-icon></span>
					<input autocomplete="off" class="form-control mx-auto w-50 password-toggle" name="password"
						placeholder="Password" type="password" required>
					<button class="btn btn-outline-secondary input-group-text password-eye" type="button"
						onclick="togglePasswordVisibility(this)">
						<ion-icon name="eye-off"></ion-icon>
					</button>
				</div>

				<!-- Register Text -->
				<p class="text-center">Don't have an account? <a href="/register">Register</a></p>

				<!-- Log In Button -->
				<button class="btn btn-primary" type="submit">Log In</button>
			</form>
		</div>
	</div>

	<!-- Log In by Email Form -->
	<div class="tab-content mt-3">
		<div class="tab-pane fade" id="email-form-login" role="tabpanel">
			<form action="/login" method="post">
				<input type="hidden" name="login_type" value="email_login">

				<!-- For Email -->
				<div class="mb-3 input-group">
					<span class="input-group-text"><ion-icon name="mail"></ion-icon></span>
					<input autocomplete="off" class="form-control mx-auto w-autoauto" name="email" placeholder="Email"
						autofocus type="email" required>
				</div>

				<!-- For Password -->
				<div class="mb-3 input-group">
					<span class="input-group-text"><ion-icon name="lock-closed"></ion-icon></span>
					<input autocomplete="off" class="form-control mx-auto w-50 password-toggle" name="password"
						placeholder="Password" type="password" required>
					<button class="btn btn-outline-secondary input-group-text password-eye" type="button"
						onclick="togglePasswordVisibility(this)">
						<ion-icon name="eye-off"></ion-icon>
					</button>
				</div>

				<!-- Register Text -->
				<p class="text-center">Don't have an account? <a href="/register">Register</a></p>

				<!-- Log In Button -->
				<button class="btn btn-primary" type="submit">Log In</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}
