{% extends "layout.html" %}

{% block title %}
Reset Password
{% endblock %}

{% block main %}
<div class="container w-100 w-md-50 bg-dark border rounded shadow p-3">
	<h3 class="text-light">Reset Password</h3>
	<form action="/reset_password" method="post">

		<!-- For Email -->
		<div class="mb-3 mt-3 input-group">
			<span class="input-group-text"><ion-icon name="mail"></ion-icon></span>
			<input autocomplete="off" class="form-control mx-auto w-autoauto" name="email" placeholder="Email"
				type="email" autofocus required>
		</div>

		<!-- Reset Password Button -->
		<button class="btn btn-primary mx-auto w-100" type="submit">Reset Password</button>

		<div class="container mt-3">
			<div class="row">
				<div class="col-6">
					<!-- Log In Text -->
					<p class="text-start"><a href="/login">Back to Log In</a></p>
				</div>
				<div class="col-6">
				</div>
			</div>
		</div>
	</form>
</div>
{% endblock %}
